.headerBGImageContainer {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0)), url('../assets/books_bg_img.jpg');
  width: 100%;
  height: 300px;
  background-size: cover;
  color: white;
}

.headerAppTitle {
  margin-top: -40px;
  margin-left: 20px;
  margin-bottom: 0;
}

.headerAppDescription {
  padding: 10px 20px 0 20px;
  margin-top: 0;
  width: 82%;
  font-size: 14px;
  color: #D8D2CB;
}

.headerTagsWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-bottom: 50px;
}

.headerTag {
  margin-right: 10px;
  padding: 3px 8px 6px 8px;
  border-radius: 4px;
  font-size: 12px;
  background-color: #D8D2CB;
  color: #212529;
}
