body {
  margin: 0;
}

/* Main wrapper: declared on root element in index.js */
.root-container {
  width: 100%;
  min-width: 320px;
  max-width: 600px;
  margin: auto;
  background-color: white;
}

/* Styling that kicks in when bigger than 601px, so for web */
@media (min-width: 601px) {
  .root-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
