body {
  margin: 0;
  color: #ffffff;
}

/* Main wrapper: declared on root element in index.js */
.root-container {
  margin: auto;
  min-width: 320px;
  max-width: 600px;
  background-color: black;
  /* border: 1px solid red; */
}

/* Styling that kicks in when bigger than 601px, so for web */
@media (min-width: 601px) {
  .root-container {
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 1px solid green; */
  }
}
